In [1]:
import numpy as np
import pandas as pan
import xml.etree.ElementTree as ET

import matplotlib.pyplot as plt

import os
from datetime import timedelta, date, datetime

In [2]:
name = r'..\Datasets\GEANTCombined\all_in_one_complete.csv'
df = pan.read_csv(name)

In [3]:
import time

start_date = datetime(2005, 1, 1, 0, 30, 0)
current_date = datetime(2005, 1, 1, 0, 30, 0)
end_date = datetime(2005, 4, 29, 16, 45, 0)

dataframes = []
dataframe = pan.DataFrame(columns=['timestamp', 'source', 'destination', 'bandwidth'])
frame_counter = 0

for source in range(1, 24):
    df_source = df[(df.source == source)]
    #print(df_source)
    for destination in range(1, 24):
        df_destination = df_source[(df_source.destination == destination)]
        #print(df_destination)
        print(str(source) + "." + str(destination))
        while current_date <= end_date:
            single_row = df_destination[(df_destination.timestamp == str(current_date))]
            
            if single_row.empty:
                #print(current_date)
                d = {'timestamp': [current_date], 'source': [source], 'destination': [destination], 'bandwidth': [0]}
                
                dataframes.append(pan.DataFrame(data = d))  
                
            current_date = current_date + timedelta(seconds=900)
            
        df_temp = pan.concat(dataframes)
        dataframe = dataframe.append(df_temp)
        dataframes = []
        current_date = datetime(2005, 1, 1, 0, 30, 0)
dataframe.append(df)

1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
1.10
1.11
1.12
1.13
1.14
1.15
1.16
1.17
1.18
1.19
1.20
1.21
1.22
1.23
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
2.10
2.11
2.12
2.13
2.14
2.15
2.16
2.17
2.18
2.19
2.20
2.21
2.22
2.23
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
3.10
3.11
3.12
3.13
3.14
3.15
3.16
3.17
3.18
3.19
3.20
3.21
3.22
3.23
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9
4.10
4.11
4.12
4.13
4.14
4.15
4.16
4.17
4.18
4.19
4.20
4.21
4.22
4.23
5.1
5.2
5.3
5.4
5.5
5.6
5.7
5.8
5.9
5.10
5.11
5.12
5.13
5.14
5.15
5.16
5.17
5.18
5.19
5.20
5.21
5.22
5.23
6.1
6.2
6.3
6.4
6.5
6.6
6.7
6.8
6.9
6.10
6.11
6.12
6.13
6.14
6.15
6.16
6.17
6.18
6.19
6.20
6.21
6.22
6.23
7.1
7.2
7.3
7.4
7.5
7.6
7.7
7.8
7.9
7.10
7.11
7.12
7.13
7.14
7.15
7.16
7.17
7.18
7.19
7.20
7.21
7.22
7.23
8.1
8.2
8.3
8.4
8.5
8.6
8.7
8.8
8.9
8.10
8.11
8.12
8.13
8.14
8.15
8.16
8.17
8.18
8.19
8.20
8.21
8.22
8.23
9.1
9.2
9.3
9.4
9.5
9.6
9.7
9.8
9.9
9.10
9.11
9.12
9.13
9.14
9.15
9.16
9.17
9.18
9.19
9.20
9.21
9.22
9.23
10.1
10.2
10.3
10.4
10.5
10.6
10.7
10.8
10.9
10.10
10.11
10.12
10.13
10.14
10.15
10.16
10.17
10.18
10.19
10.20
10.21
10.22
10.23
11.1
11.2
11.3
11.4
11.5
11.6
11.7
11.8
11.9
11.10
11.11
11.12
11.13
11.14
11.15
11.16
11.17
11.18
11.19
11.20
11.21
11.22
11.23
12.1
12.2
12.3
12.4
12.5
12.6
12.7
12.8
12.9
12.10
12.11
12.12
12.13
12.14
12.15
12.16
12.17
12.18
12.19
12.20
12.21
12.22
12.23
13.1
13.2
13.3
13.4
13.5
13.6
13.7
13.8
13.9
13.10
13.11
13.12
13.13
13.14
13.15
13.16
13.17
13.18
13.19
13.20
13.21
13.22
13.23
14.1
14.2
14.3
14.4
14.5
14.6
14.7
14.8
14.9
14.10
14.11
14.12
14.13
14.14
14.15
14.16
14.17
14.18
14.19
14.20
14.21
14.22
14.23
15.1
15.2
15.3
15.4
15.5
15.6
15.7
15.8
15.9
15.10
15.11
15.12
15.13
15.14
15.15
15.16
15.17
15.18
15.19
15.20
15.21
15.22
15.23
16.1
16.2
16.3
16.4
16.5
16.6
16.7
16.8
16.9
16.10
16.11
16.12
16.13
16.14
16.15
16.16
16.17
16.18
16.19
16.20
16.21
16.22
16.23
17.1
17.2
17.3
17.4
17.5
17.6
17.7
17.8
17.9
17.10
17.11
17.12
17.13
17.14
17.15
17.16
17.17
17.18
17.19
17.20
17.21
17.22
17.23
18.1
18.2
18.3
18.4
18.5
18.6
18.7
18.8
18.9
18.10
18.11
18.12
18.13
18.14
18.15
18.16
18.17
18.18
18.19
18.20
18.21
18.22
18.23
19.1
19.2
19.3
19.4
19.5
19.6
19.7
19.8
19.9
19.10
19.11
19.12
19.13
19.14
19.15
19.16
19.17
19.18
19.19
19.20
19.21
19.22
19.23
20.1
20.2
20.3
20.4
20.5
20.6
20.7
20.8
20.9
20.10
20.11
20.12
20.13
20.14
20.15
20.16
20.17
20.18
20.19
20.20
20.21
20.22
20.23
21.1
21.2
21.3
21.4
21.5
21.6
21.7
21.8
21.9
21.10
21.11
21.12
21.13
21.14
21.15
21.16
21.17
21.18
21.19
21.20
21.21
21.22
21.23
22.1
22.2
22.3
22.4
22.5
22.6
22.7
22.8
22.9
22.10
22.11
22.12
22.13
22.14
22.15
22.16
22.17
22.18
22.19
22.20
22.21
22.22
22.23
23.1
23.2
23.3
23.4
23.5
23.6
23.7
23.8
23.9
23.10
23.11
23.12
23.13
23.14
23.15
23.16
23.17
23.18
23.19
23.20
23.21
23.22
23.23

                   timestamp source destination bandwidth
0        2005-01-15 19:00:00      1           1         0
0        2005-01-15 19:15:00      1           1         0
0        2005-01-15 19:30:00      1           1         0
0        2005-01-15 19:45:00      1           1         0
0        2005-01-15 20:00:00      1           1         0
0        2005-01-15 20:15:00      1           1         0
0        2005-01-15 20:30:00      1           1         0
0        2005-01-15 20:45:00      1           1         0
0        2005-01-15 21:00:00      1           1         0
0        2005-01-15 21:15:00      1           1         0
0        2005-01-15 21:30:00      1           1         0
0        2005-01-15 21:45:00      1           1         0
0        2005-01-15 22:00:00      1           1         0
0        2005-01-15 22:15:00      1           1         0
0        2005-01-15 22:30:00      1           1         0
0        2005-01-15 22:45:00      1           1         0
0        2005-01-15 23:00:00      1           1         0
0        2005-01-15 23:15:00      1           1         0
0        2005-01-15 23:30:00      1           1         0
0        2005-01-15 23:45:00      1           1         0
0        2005-01-16 00:00:00      1           1         0
0        2005-01-16 00:15:00      1           1         0
0        2005-01-16 00:30:00      1           1         0
0        2005-01-16 00:45:00      1           1         0
0        2005-01-16 01:00:00      1           1         0
0        2005-01-16 01:15:00      1           1         0
0        2005-01-16 01:30:00      1           1         0
0        2005-01-24 02:00:00      1           1         0
0        2005-01-24 02:15:00      1           1         0
0        2005-01-24 02:30:00      1           1         0
...                      ...    ...         ...       ...
5009960  2005-04-29 16:45:00     21           5   590.444
5009961  2005-04-29 16:45:00     21           3   1546.91
5009962  2005-04-29 16:45:00     21          10   333.271
5009963  2005-04-29 16:45:00     21           7    4766.1
5009964  2005-04-29 16:45:00     21           2   9678.28
5009965  2005-04-29 16:45:00     21          16   6025.93
5009966  2005-04-29 16:45:00     21          14   107.271
5009967  2005-04-29 16:45:00     21          20   607.271
5009968  2005-04-29 16:45:00     21          11   137.182
5009969  2005-04-29 16:45:00     21           9    3896.5
5009970  2005-04-29 16:45:00     21          17   34294.5
5009971  2005-04-29 16:45:00     21          21   371.049
5009972  2005-04-29 16:45:00     21          15   28.4267
5009973  2005-04-29 16:45:00     15          12   145.413
5009974  2005-04-29 16:45:00     15          13   1123.37
5009975  2005-04-29 16:45:00     15          19   67.4844
5009976  2005-04-29 16:45:00     15          23    3.9644
5009977  2005-04-29 16:45:00     15           8     24.56
5009978  2005-04-29 16:45:00     15          18    2.1156
5009979  2005-04-29 16:45:00     15           4   55.8578
5009980  2005-04-29 16:45:00     15           1   3229.65
5009981  2005-04-29 16:45:00     15           5   216.409
5009982  2005-04-29 16:45:00     15          10    7.6978
5009983  2005-04-29 16:45:00     15           2   200.889
5009984  2005-04-29 16:45:00     15          16   1414.79
5009985  2005-04-29 16:45:00     15          14   13.3333
5009986  2005-04-29 16:45:00     15          11   87.6444
5009987  2005-04-29 16:45:00     15           9   4293.64
5009988  2005-04-29 16:45:00     15          17   2277.65
5009989  2005-04-29 16:45:00     15          21      0.56

[6027426 rows x 4 columns]

In [4]:
dataframe = dataframe.append(df)

In [5]:
dataframe = dataframe.sort_values('timestamp')

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [6]:
path = r'..\Datasets\GEANTCombined\all_in_one_complete_appended.csv'
dataframe.to_csv(path, encoding='utf-8', index=False)

In [ ]:
print(dataframe)